<div id="right" *ngIf="pageNo != 3">
  <form [formGroup]="AddForm" *ngIf="pageNo === 1">
    <div style="display: flex; flex-direction: column; padding: 2vh 0">
      <p style="margin: 0; font-size: 20px">Helper Details</p>
      <p style="font-size: x-small; margin: 0; color: grey">
        Track, add & manage all your helpers in one place
      </p>
    </div>

    <input
      type="file"
      accept=".png, .jpeg, .jpg"
      hidden
      id="inputImg1"
      (change)="ImageChange($event)"
    />
    @if(imgBuffer()){
    <label for="inputImg1">
      <img
        style="border-radius: 50%"
        [src]="imgBuffer()"
        width="100"
        height="100"
      />
    </label>
    } @else {
    <div class="img">
      <label for="inputImg1">
        <span
          style="
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 0px;
          "
        >
          <i class="ph ph-cloud-arrow-up" style="font-size: x-large"></i>
          <p style="font-size: 80%">Upload Photo</p>
        </span>
      </label>
    </div>
    }
    <p style="color: grey; font-size: x-small">Upload photo (.png, .jpeg)</p>
    <span class="item">
      <p>Type Of Service *</p>
      <mat-form-field>
        <mat-select
          formControlName="typeOfService"
          placeholder="Select Type Of Service"
        >
          <mat-option value="maid"
            ><i class="ph ph-broom d"></i> Maid</mat-option
          >
          <mat-option value="cook"
            ><i class="ph ph-cooking-pot d"></i> Cook</mat-option
          >
          <mat-option value="nurse"
            ><i class="ph ph-first-aid-kit d"></i> Nurse</mat-option
          >
          <mat-option value="driver"
            ><i class="ph ph-truck d"></i> Driver</mat-option
          >
        </mat-select>
        <mat-error>Select type of service</mat-error>
      </mat-form-field>
    </span>
    <span class="item">
      <p>Organization Name *</p>
      <mat-form-field appearance="fill">
        <mat-select
          formControlName="organizationName"
          placeholder="Organization Name"
        >
          <mat-option value="ASBL">ASBL</mat-option>
          <mat-option value="Spring Helpers">Spring Helpers</mat-option>
        </mat-select>
        <mat-error
          *ngIf="
            AddForm.get('organizationName')?.hasError('required') &&
            AddForm.get('organizationName')?.touched
          "
        >
          Organization is required
        </mat-error>
      </mat-form-field>
    </span>
    <span class="item">
      <p>Full Name *</p>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Enter Full Name" formControlName="name" />
        <mat-error
          *ngIf="
            AddForm.get('name')?.hasError('required') &&
            AddForm.get('name')?.touched
          "
        >
          Full Name Required.
        </mat-error>
      </mat-form-field>
    </span>
    <span class="item">
      <p>Languages *</p>
      <mat-form-field appearance="fill">
        <mat-select
          formControlName="languages"
          multiple
          placeholder="Select Languages"
        >
          <mat-select-trigger>
            {{ AddForm.get('languages')?.value?.[0] || '' }}
            <ng-container
              *ngIf="(AddForm.get('languages')?.value?.length || 0) > 1"
            >
              <span class="example-additional-selection">
                (+{{ (AddForm.get("languages")?.value?.length || 0) - 1 }}
                {{
                  AddForm.get("languages")?.value?.length === 2
                    ? "other"
                    : "others"
                }})
              </span>
            </ng-container>
          </mat-select-trigger>
          <mat-option value="english">English</mat-option>
          <mat-option value="hindi">Hindi</mat-option>
          <mat-option value="telugu">Telugu</mat-option>
          <mat-option value="urdu">Urdu</mat-option>
          <mat-option value="tamil">Tamil</mat-option>
        </mat-select>
        <mat-error
          *ngIf="
            AddForm.get('languages')?.touched &&
            AddForm.get('languages')?.hasError('required')
          "
        >
          Language is required
        </mat-error>
      </mat-form-field>
    </span>

    <!-- Gender -->
    <span class="item">
      <p>Gender *</p>
      <div>
        <mat-radio-group formControlName="gender">
          <mat-radio-button color="primary" value="male">Male</mat-radio-button>
          <mat-radio-button color="primary" value="female"
            >Female</mat-radio-button
          >
          <mat-radio-button color="primary" value="others"
            >Others</mat-radio-button
          >
          <mat-error
            style="font-size: x-small !important; margin-left: 1.5vw"
            *ngIf="
              AddForm.get('gender')?.touched &&
              AddForm.get('gender')?.hasError('required')
            "
            >Gender Required</mat-error
          >
        </mat-radio-group>
      </div>
    </span>

    <!-- Phone -->
    <span class="item">
      <p>Phone *</p>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Phone No" formControlName="mobile" />
        <mat-error
          *ngIf="
            AddForm.get('mobile')?.hasError('required') &&
            AddForm.get('mobile')?.touched
          "
        >
          Mobile No Required.
        </mat-error>
      </mat-form-field>
    </span>

    <span class="item">
      <p>Email</p>
      <mat-form-field>
        <input matInput placeholder="Enter Email" formControlName="email" />
        <mat-error
          *ngIf="
            AddForm.get('email')?.hasError('required') &&
            AddForm.get('email')?.touched
          "
        >
          Email required
        </mat-error>
        <mat-error
          *ngIf="
            AddForm.get('email')?.hasError('email') &&
            AddForm.get('email')?.touched
          "
        >
          Enter a valid email
        </mat-error>
      </mat-form-field>
    </span>

    <!-- Vehicle -->
    <span class="item">
      <p>Choose Vehicle Type</p>
      <mat-form-field>
        <mat-select formControlName="vehicleType" placeholder="None">
          <mat-option value="">None</mat-option>
          <mat-option value="auto">Auto</mat-option>
          <mat-option value="bike">Bike</mat-option>
          <mat-option value="car">Car</mat-option>
        </mat-select>
      </mat-form-field>
    </span>

    <span *ngIf="AddForm.get('vehicleType')?.value" class="item">
      <p>Vehicle Number *</p>
      <mat-form-field>
        <input
          matInput
          placeholder="Enter Vehicle Number"
          formControlName="vehicleNum"
        />
        <mat-error
          *ngIf="
            AddForm.get('vehicleNum')?.hasError('required') &&
            AddForm.get('vehicleNum')?.touched
          "
        >
          Vehicle Number Is Required.
        </mat-error>
      </mat-form-field>
    </span>

    <span class="item">
      <p>KYC Documents *</p>
      <div class="sqimg" (click)="changeMid()">
        @if(!AddForm.get('file')?.value){
        <i class="ph ph-plus"></i>
        } @else {
        <i class="ph ph-file"></i>
        }
      </div>
      <mat-error
        style="font-size: small !important"
        *ngIf="
          AddForm.get('file')?.hasError('required') &&
          AddForm.get('file')?.touched
        "
        >Upload Documents *</mat-error
      >
    </span>
    <div class="for-line" style="margin: 10px 0"></div>
    <button class="nxbtn" (click)="add(1); requestPageChange(true)">
      Next
    </button>
  </form>
  @if(midBlock()){
  <div id="mid-bar">
    <div id="mid">
      <div
        style="
          display: flex;
          align-items: center;
          justify-content: space-between;
        "
      >
        <p style="font-weight: 500">Upload KYC Documents</p>
        <svg
          (click)="cancel()"
          xmlns="http://www.w3.org/2000/svg"
          height="27px"
          viewBox="0 -960 960 960"
          width="27px"
        >
          <path
            d="m291-240-51-51 189-189-189-189 51-51 189 189 189-189 51 51-189 189 189 189-51 51-189-189-189 189Z"
          />
        </svg>
      </div>
      <div class="for-line"></div>

      <form [formGroup]="AddForm" style="overflow-y: scroll;flex:1">
        <span id="mid-item">
          <p>Select Document Type</p>
          <mat-form-field>
            <mat-select formControlName="DocType" placeholder="Document Type">
              <mat-option value="">None</mat-option>
              <mat-option value="ac">Adhaar Card</mat-option>
              <mat-option value="pc">Pan Card</mat-option>
              <mat-option value="vi">Voter Id</mat-option>
              <mat-option value="pp">Passport</mat-option>
            </mat-select>
          </mat-form-field>
        </span>
        <div>
          <p style="font-size: small">
            Please ensure both side documents are uploaded.
          </p>
          <input
            type="file"
            accept=".png, .jpeg, .jpg, .pdf"
            hidden
            id="inputImg2"
            (change)="uploadedFile($event)"
          />
          <label for="inputImg2">
            <div class="retimg">
              <i class="ph ph-cloud-arrow-up" style="font-size: x-large"></i>
              <div style="display: flex; gap: 2px; font-size: small">
                <div>Click To Upload</div>
                <span style="color: black">or drag and drop</span>
              </div>
            </div>
          </label>
        </div>
        <div style="flex: 1">
          <div
            *ngIf="imgBuffer2()"
            style="display: flex; align-items: center; gap: 10px"
          >
            <img *ngIf="AddForm.get('file')?.value?.type === 'application/pdf'" loading="lazy"  width="40px" height="40px" src="https://upload.wikimedia.org/wikipedia/commons/3/38/Icon_pdf_file.svg" alt="pdf image" >
            <img *ngIf="AddForm.get('file')?.value.type === 'image/png'" width="40px" height="40px" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQIc37_zjsamS48qGyTHQklsUgsNit-gNw360BKx_L9ARsPE19liMDS6YWVsA92WHQwVQ8&usqp=CAU" alt="png image">
            <img *ngIf="AddForm.get('file')?.value.type === 'image/jpeg'" width="40px" height="40px" src="https://cdn-icons-png.flaticon.com/512/2656/2656444.png" alt="jpeg image">
            <img *ngIf="AddForm.get('file')?.value.type === 'image/jpg'" width="40px" height="40px" src="https://cdn-icons-png.flaticon.com/512/29/29264.png" alt="jpg image">

            <p style="font-size: small">
              {{ AddForm.get("file")?.value.name }}
            </p>
            <i
              style="color: red"
              (click)="
                AddForm.get('file')?.setValue(null); imgBuffer2.set(null)
              "
              class="ph ph-trash"
            ></i>
          </div>
        </div>
      </form>
      <div class="for-line"></div>
      <div style="display: flex; gap: 10px; justify-content: end">
        <button class="prbtn" (click)="cancel()">Cancel</button>
        <button class="svbtn" (click)="changeMid()">Save</button>
      </div>
    </div>
  </div>
  }
  <!-- Step 2 -->
  <form [formGroup]="AddForm" *ngIf="pageNo === 2">
    <span class="item">
      <p>Additional Documents</p>
      <p style="color: grey; font-size: small; margin-bottom: 20px">
        Upload related documents. This step is optional.
      </p>
      <input
        type="file"
        accept=".png, .jpg, .jpeg, .pdf"
        hidden
        id="input3"
        (change)="fileSelected($event)"
      />
      <label for="input3" id="designimg">
        <div class="sqimg">
          @if(!AddForm.get('AdditionalFiles')?.value){
          <svg
            xmlns="http://www.w3.org/2000/svg"
            height="24px"
            viewBox="0 -960 960 960"
            width="24px"
            fill="rgb(89, 87, 222)"
          >
            <path
              d="M440-120v-320H120v-80h320v-320h80v320h320v80H520v320h-80Z"
            />
          </svg>
          } @else {
          <i style="font-size: x-large" class="ph ph-file"></i>
          }
        </div>
      </label>
    </span>
    <div class="for-line"></div>
    <div id="buttons">
      <button class="prbtn" (click)="add(2); requestPageChange(false)">
        Previous
      </button>
      <button class="nxbtn" (click)="add(1); requestPageChange(true)">
        Next
      </button>
    </div>
  </form>
</div>
<form [formGroup]="AddForm" *ngIf="pageNo === 3">
  <div class="center-container" id="third-form">
    <div class="center-container2">
      <div id="cc-nav">
        <span style="display: flex; align-items: center">
          <img
            style="border-radius: 50%; height: 80px; width: 80px"
            [src]="
              AddForm.get('image')?.value
                ? AddForm.get('image')?.value
                : 'https://ui-avatars.com/api/?name=' +
                  AddForm.get('name')?.value
            "
            alt="Helper Image"
            class="helper-image"
          />
          <span style="display: flex; flex-direction: column; margin-left: 1vw">
            <p style="margin: 0; padding: 0">
              {{ AddForm.get("name")?.value }}
            </p>
            <p style="margin: 0; padding: 0; font-size: small">
              {{ AddForm.get("deviceType")?.value }}
            </p>
          </span>
        </span>
      </div>
      <div>
        <div style="display: flex; align-items: center; gap: 10px">
          <p>Personal Details</p>
          <div class="line"></div>
        </div>
        <span class="comp"
          ><p>Gender</p>
          <p>{{ AddForm.get("gender")?.value }}</p></span
        >
        <span class="comp"
          ><p>Languages</p>
          <p>
            {{ AddForm.get("languages")?.value }}
          </p></span
        >
        <span class="comp"
          ><p>Mobile No</p>
          <p>{{ AddForm.get("mobile")?.value }}</p></span
        >
        <span class="comp"
          ><p>Email Id</p>
          <p>{{ AddForm.get("email")?.value }}</p></span
        >
        <span class="comp"
          ><p>KYC Document</p>
          <p style="color: rgb(89, 87, 222); cursor: pointer">
            <i class="ph ph-eye"></i>View
          </p></span
        >
        <div style="display: flex; align-items: center; gap: 10px">
          <p>Service Details</p>
          <div class="line"></div>
        </div>
        <span class="comp"
          ><p>Type</p>
          <p>{{ AddForm.get("typeOfService")?.value }}</p></span
        >
        <span class="comp"
          ><p>Organization</p>
          <p>{{ AddForm.get("organizationName")?.value }}</p></span
        >
        <span class="comp"
          ><p>Joined On</p>
          <p>{{ AddForm.get("joiningDate")?.value }}</p></span
        >
      </div>
    </div>
  </div>
  <div class="for-line" style="margin: 20px 0"></div>
  <div id="buttons">
    <button class="prbtn" (click)="add(2); requestPageChange(false)">
      Previous
    </button>
    <button class="nxbtn">Add Helper</button>
  </div>
</form>
