<section>
  <div id="all">
    <div [style]="'display:flex;gap:1vw;'">
      <button id="back" routerLink="">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960">
          <path d="M560-240 320-480l240-240 56 56-184 184 184 184-56 56Z" />
        </svg>
      </button>
      <p>Add Helper</p>
    </div>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960">
      <path
        d="M480-160q-33 0-56.5-23.5T400-240q0-33 23.5-56.5T480-320q33 0 56.5 23.5T560-240q0 33-23.5 56.5T480-160Zm0-240q-33 0-56.5-23.5T400-480q0-33 23.5-56.5T480-560q33 0 56.5 23.5T560-480q0 33-23.5 56.5T480-400Zm0-240q-33 0-56.5-23.5T400-720q0-33 23.5-56.5T480-800q33 0 56.5 23.5T560-720q0 33-23.5 56.5T480-640Z"
      />
    </svg>
  </div>
  <div style="display: flex; gap: 1vw">
    <div id="leftpart">
      <div id="lines">
        <div
          id="linegrey"
          [ngStyle]="{
            'background-color': pageNo == 3 ? 'rgb(132, 75, 231)' : 'grey'
          }"
        ></div>
        <div
          id="lineblue"
          [ngStyle]="{
            'background-color': pageNo >= 2 ? 'rgb(132, 75, 231)' : 'grey'
          }"
        ></div>
      </div>
      <div style="display: flex; z-index: 2">
        <div id="left-items">
          <div class="lbox">
            <div
              class="point"
              [ngStyle]="{
                'background-color': pageNo >= 1 ? 'rgb(109, 109, 243)' : 'grey',
                'box-shadow': pageNo == 1 ? '0px 0px 10px blue' : '0 0 0'
              }"
            >
              <i *ngIf="pageNo > 1" class="fa-solid fa-check"></i>
            </div>
            <p style="display: flex; flex-direction: column; margin-left: 20px">
              <span>Helper Details</span>
              <span style="font-size: 70%">Add helper details</span>
            </p>
          </div>
          <div class="lbox">
            <div
              class="point"
              [ngStyle]="{
                'background-color': pageNo >= 2 ? 'rgb(109, 109, 243)' : 'grey',
                'box-shadow': pageNo == 2 ? '0px 0px 10px blue' : '0 0 0'
              }"
            >
              <i *ngIf="pageNo > 2" class="fa-solid fa-check"></i>
            </div>
            <p style="display: flex; flex-direction: column; margin-left: 20px">
              <span>Documents</span>
              <span style="font-size: 70%">Upload related documents</span>
            </p>
          </div>
          <div class="lbox">
            <div
              class="point"
              [ngStyle]="{
                'background-color': pageNo >= 3 ? 'rgb(109, 109, 243)' : 'grey',
                'box-shadow': pageNo == 3 ? '0px 0px 10px blue' : '0 0 0'
              }"
            >
              <i *ngIf="pageNo > 3" class="fa-solid fa-check"></i>
            </div>
            <p style="display: flex; flex-direction: column; margin-left: 20px">
              <span>Review</span>
              <span style="font-size: 70%">check information and confirm</span>
            </p>
          </div>
        </div>
      </div>
    </div>
    <app-forms id="right" [pageNo]="pageNo" (pageChange)="pageNo = $event"></app-forms>
  </div>
</section>
