<section>
  <div id="all">
    <div [style]="'display:flex;gap:1vw;'">
      <button id="back" routerLink="">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960">
          <path d="M560-240 320-480l240-240 56 56-184 184 184 184-56 56Z" />
        </svg>
      </button>
      <p>Add Helper</p>
    </div>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960">
      <path
        d="M480-160q-33 0-56.5-23.5T400-240q0-33 23.5-56.5T480-320q33 0 56.5 23.5T560-240q0 33-23.5 56.5T480-160Zm0-240q-33 0-56.5-23.5T400-480q0-33 23.5-56.5T480-560q33 0 56.5 23.5T560-480q0 33-23.5 56.5T480-400Zm0-240q-33 0-56.5-23.5T400-720q0-33 23.5-56.5T480-800q33 0 56.5 23.5T560-720q0 33-23.5 56.5T480-640Z"
      />
    </svg>
  </div>
  <div style="display: flex; gap: 1vw">
    <div id="leftpart">
      <div id="lines">
        <div
          id="linegrey"
          [ngStyle]="{
            'background-color': pageNo == 3 ? 'rgb(132, 75, 231)' : 'grey'
          }"
        ></div>
        <div
          id="lineblue"
          [ngStyle]="{
            'background-color': pageNo >= 2 ? 'rgb(132, 75, 231)' : 'grey'
          }"
        ></div>
      </div>
      <div style="display: flex; z-index: 2">
        <div id="left-items">
          <div class="lbox">
            <div
              class="point"
              [ngStyle]="{
                'background-color': pageNo >= 1 ? 'rgb(109, 109, 243)' : 'grey',
                'box-shadow': pageNo >= 1 ? '0px 0px 10px blue' : '0 0 0'
              }"
            >
              <i *ngIf="pageNo > 1" class="fa-solid fa-check"></i>
            </div>
            <p style="display: flex; flex-direction: column; margin-left: 20px">
              <span>Helper Details</span>
              <span style="font-size: 70%">Add helper details</span>
            </p>
          </div>
          <div class="lbox">
            <div
              class="point"
              [ngStyle]="{
                'background-color': pageNo >= 2 ? 'rgb(109, 109, 243)' : 'grey',
                'box-shadow': pageNo >= 2 ? '0px 0px 10px blue' : '0 0 0'
              }"
            >
              <i *ngIf="pageNo > 2" class="fa-solid fa-check"></i>
            </div>
            <p style="display: flex; flex-direction: column; margin-left: 20px">
              <span>Documents</span>
              <span style="font-size: 70%">Upload related documents</span>
            </p>
          </div>
          <div class="lbox">
            <div
              class="point"
              [ngStyle]="{
                'background-color': pageNo >= 3 ? 'rgb(109, 109, 243)' : 'grey',
                'box-shadow': pageNo >= 3 ? '0px 0px 10px blue' : '0 0 0'
              }"
            >
              <i *ngIf="pageNo > 3" class="fa-solid fa-check"></i>
            </div>
            <p style="display: flex; flex-direction: column; margin-left: 20px">
              <span>Review</span>
              <span style="font-size: 70%">check information and confirm</span>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div id="right">
      <form [formGroup]="AddForm" *ngIf="pageNo == 1">
        <input type="file" accept=".png , .jpeg , .jpg" hidden id="inputImg1" />
        <label for="inputImg1" style="margin: 0; padding: 0">
          <div class="img">
            <span
              style="
                margin: 0;
                padding: 0;
                font-size: medium;
                display: flex;
                flex-direction: column;
                align-items: center;
              "
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                style="margin: 0; padding: 0"
                height="20px"
                viewBox="0 -960 960 960"
                width="29px"
                fill="rgb(89, 87, 222)"
              >
                <path
                  d="M260-160q-91 0-155.5-63T40-377q0-78 47-139t123-78q25-92 100-149t170-57q117 0 198.5 81.5T760-520q69 8 114.5 59.5T920-340q0 75-52.5 127.5T740-160H520q-33 0-56.5-23.5T440-240v-206l-64 62-56-56 160-160 160 160-56 56-64-62v206h220q42 0 71-29t29-71q0-42-29-71t-71-29h-60v-80q0-83-58.5-141.5T480-720q-83 0-141.5 58.5T280-520h-20q-58 0-99 41t-41 99q0 58 41 99t99 41h100v80H260Zm220-280Z"
                />
              </svg>
              <p style="font-size: 80%">Upload Photo</p>
            </span>
          </div>
        </label>
        <p style="color: grey; font-size: x-small">
          Upload photo (.png , .jpeg)
        </p>
        <span class="item" style="font-size: small">
          <p>Type Of Service *</p>
          <input type="text" formControlName="typeOfService" />
        </span>
        <span class="item" style="font-size: small">
          <p>Organization Name *</p>
          <input
            type="text"
            formControlName="organizationName"
            placeholder="Organization Name"
          />
        </span>
        <span class="item" style="font-size: small">
          <p>Full Name *</p>
          <input type="text" formControlName="name" placeholder="Full Name" />
        </span>
        <span class="item" style="font-size: small">
          <p>Languages *</p>
          <input type="text" formControlName="languages" />
        </span>
        <span class="item" style="font-size: small">
          <p>Gender *</p>
          <div style="display: flex; gap: 10px; margin-top: 10px">
            <label>
              <input type="radio" formControlName="gender" value="male" /> Male
            </label>
            <label>
              <input type="radio" formControlName="gender" value="female" />
              Female
            </label>
            <label>
              <input type="radio" formControlName="gender" value="other" />
              Other
            </label>
          </div>
        </span>
        <span class="item" style="font-size: small">
          <p>Phone *</p>
          <input type="text" formControlName="mobile" />
        </span>
        <span class="item" style="font-size: small">
          <p>Email *</p>
          <input type="email" formControlName="email" />
        </span>
        <span class="item" style="font-size: small">
          <p>Choose Vehical Type *</p>
          <input type="text" formControlName="vehicleType" />
        </span>
        <span class="item" style="font-size: small">
          <p>KYC Documents *</p>
          <div class="sqimg" (click)="changeMid()">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              height="24px"
              viewBox="0 -960 960 960"
              width="24px"
              fill="rgb(89, 87, 222)"
            >
              <path
                d="M440-120v-320H120v-80h320v-320h80v320h320v80H520v320h-80Z"
              />
            </svg>
          </div>
        </span>
        <button class="nxbtn" (click)="add(1)">Next</button>
      </form>
      <div id="mid-bar" *ngIf="midBlock">
        <div id="mid">
          <div style="
              display: flex;
              align-items: center;
              text-align: center;
              justify-content: space-between;">
            <p style="font-weight: 500">Upload KYC Documents</p>
            <svg
              (click)="changeMid()"
              xmlns="http://www.w3.org/2000/svg"
              height="27px"
              viewBox="0 -960 960 960"
              width="27px"
              fill="#000000"
            >
              <path
                d="m291-240-51-51 189-189-189-189 51-51 189 189 189-189 51 51-189 189 189 189-51 51-189-189-189 189Z"
              />
            </svg>
          </div>
          <div class="for-line"></div>
          <span id="mid-item">
            <p>Select Document Type *</p>
            <form [formGroup]="AddForm" id="chform">
                <input
              id="mid-box"
              type="text"
              placeholder="Document Type"
              formControlName="DocType"
            />
        </form>
    </span>
          <div>
            <p style="font-size: small">
              Please ensure both side documents are uploaded.
            </p>
            <form [formGroup]="AddForm" >
            <input type="file" accept=".png , .jpeg , .jpg" hidden id="inputImg2" (change)="uploadedFile($event)"/>
            <label for="inputImg2" style="margin: 0; padding: 0">
                <div class="retimg">
                    <svg xmlns="http://www.w3.org/2000/svg" style="margin: 0; padding: 0" height="40px" viewBox="0 -960 960 960" width="40px" fill="rgb(89, 87, 222)" >
                        <path
                        d="M260-160q-91 0-155.5-63T40-377q0-78 47-139t123-78q25-92 100-149t170-57q117 0 198.5 81.5T760-520q69 8 114.5 59.5T920-340q0 75-52.5 127.5T740-160H520q-33 0-56.5-23.5T440-240v-206l-64 62-56-56 160-160 160 160-56 56-64-62v206h220q42 0 71-29t29-71q0-42-29-71t-71-29h-60v-80q0-83-58.5-141.5T480-720q-83 0-141.5 58.5T280-520h-20q-58 0-99 41t-41 99q0 58 41 99t99 41h100v80H260Zm220-280Z"
                        />
                    </svg>
                    <div
                    style="
                    display: flex;
                    width: max-content;
                    gap: 2px;
                    font-size: small;
                    "
                >
                        <div>Click To Upload</div>
                        <span style="color: black">or drag and drop</span>
                    </div>
                </div>
            </label>
        </form>  
          </div>
          <div style="flex: 1">
            <div *ngIf="getFile()" >
                <p>{{getFile()}}</p>
            </div>
          </div>
          <div class="for-line"></div>
          <div>
            <div style="display: flex; gap: 10px; justify-content: end">
              <button class="prbtn">Cancel</button>
              <button class="svbtn">Save</button>
            </div>
          </div>
        </div>
      </div>

      <form [formGroup]="AddForm" *ngIf="pageNo == 2">
        <span class="item" style="font-size: small">
          <p>Type Of Service *</p>
          <input type="text" formControlName="typeOfService" />
        </span>
        <div id="buttons">
          <button class="nxbtn" (click)="add(1)">Next</button>
          <button class="prbtn" (click)="add(2)">Previous</button>
        </div>
      </form>
      <form [formGroup]="AddForm" *ngIf="pageNo == 3">
       dsfjsdlfjdskfljdsfsdkfjsdfdsklklfdsjf <h1>type 3</h1>
        <button class="prbtn" (click)="add(2)">Previous</button>
      </form>
    </div>
  </div>
</section>
