#back {
  border: none;
  background-color: transparent;
  color: #000;
  cursor: pointer;
  margin: 0;
  padding: 0;
}

#all {
  display: flex;
  justify-content: space-between;
  padding: 1vh 1.5vw;
  align-items: center;
}

#all svg {
  height: 20px;
  width: 20px;
  cursor: pointer;
}

section {
  padding: 0vh 2vw;
}

#leftpart {
  width: 20vw;
  height: 80vh;
  display: flex;
  padding: 20px;
  background-color: rgb(235, 235, 237);
  border: 1px solid rgb(214, 213, 213);
  border-radius: 10px;
}

#left-items {
  display: flex;
  flex-direction: column;
  margin-left: -7px;
  gap: 11px;
}

#lines {
  margin-top: 30px;
  margin-right: 3px;
  z-index: 0;
  display: flex;
  position: absolute;
}

#linegrey,
#lineblue {
  width: 3px;
  margin: 0;
  padding: 0;
  z-index: 1;
  transition-duration: 1s;
}

#linegrey {
  height: 170px;
}

#lineblue {
  margin-left: -2.9px;
  height: 85px;
  transform-origin: top;
}

.point {
  height: 15px;
  width: 15px;
  padding: 1px;
  border-radius: 50%;
  background-color: rgb(109, 109, 243);
  box-shadow: 0px 0px 10px blue;
  position: absolute;
}

.lbox {
  display: flex;
  align-items: center;
  gap: 0.5vw;
}

.fa-solid {
  margin: 4px 3px;
  position: absolute;
  color: white;
  font-size: xx-small;
}

#right {
  padding: 0 1.5vw;
  height: 80vh;
  width: 100%;
}
